*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100;
    background-color: #fff;
    z-index: -5;
}
nav{
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 16%;
    padding-top: 2%;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 9%;
}
nav ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;
    color: #0000008c;
}
nav ul li:hover{
    color: #212832;
}
nav button{
    width: 120px;
    height: 40px;
    background-color: #0061f2;
    color: #fff;
    border: 0;
    font-weight: 600;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: 0.1s;
}
nav button:hover{
    background-color: #0050c7;
}
header #head{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #head .content{
    width: 50%;
    justify-content: center;
    text-align: center;
}
header #head .content img{
    width: 35%;
}
header #head .content h2{
    font-size: 45px;
    font-weight: 400;
    color: #363d47;
    margin: 0 0 8px;
}
header #head .content p{
    font-size: 20px;
    color: #69707a;
    margin: 0 0 16px;
}
#sec-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    background-color: #f2f6fc;
}
#sec-2 .box{
    width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#sec-2 .box i{
    font-size: 35px;
    border-radius: 100%;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
#sec-2 .box .la-pen{
    background-color: #e81500;
}
#sec-2 .box .la-crop-alt{
    background-color: #f4a100;
}
#sec-2 .box .la-tint{
    background-color: #0061f2;
}
#sec-2 .box h3{
    color: #363d47;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}
#sec-2 .box p{
    font-size: 18px;
    color: #69707a;
}
#sec-3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}
#sec-3 .row{
    margin-top: 5%;
    width: 25%;
    text-align: center;
}
#sec-3 .row img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10%;
    box-shadow: 0 0 20px #e6e6e6;
    cursor: pointer;
    transition: 0.1s;
}
#contact{
    width: 100%;
    text-align: center;
    background-color: #f2f6fc;
}
#contact h2{
    padding-top: 5%;
    padding-bottom: 10px;
    font-size: 23px;
    color: #363d47;
    font-weight: 500;
}
#contact p{
    color: #69707a;
    font-size: 18px;
    margin-bottom: 3%;
}
#contact .boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}
#contact .boxes .box{
    width: 25%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px #c0c0c0;
    margin-bottom: 5%;
}
#contact .boxes .box i{
    font-size: 30px;
    border-radius: 100%;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.la-envelope{
    background-color: #f76400;
}
.la-mobile{
    background-color: #00ac69;
}
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    background-color: #212832;
}

footer div {
    width: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer ul {
    list-style: none;
}

footer h2 {
    font-size: 20px;
    color: #a2acba;
    padding-bottom: 8px;
}

footer h3 {
    font-size: 15px;
    color: #a2acba;
    font-weight: 600;
    padding-bottom: 8px;
}

footer li {
    font-size: 15px;
    color: #a2acba;
    font-weight: 400;
    margin: 10px 0;
    cursor: pointer;
}

footer li:hover {
    text-decoration: underline;
}

footer p {
    color: #a2acba;
    padding-bottom: 20px;
}

footer i {
    color: #a2acba;
    font-size: 25px;
    cursor: pointer;
}

.container{
    position: relative;
    width: 100%;
}
.container img{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #0050c7;
    border-radius: 8px;
}
.container:hover .overlay{
    opacity: 0.9;
}
.text{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}